<app-header></app-header>
<div class="page-heading-rent-venue">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Are You Looking For A Venue?</h2>
        <span>Check out our venues, pick your choice and fill the reservation application.</span>
      </div>
    </div>
  </div>
</div>

<div class="rent-venue-tabs">
  <div class="container">
    <div class="row" id="tabs">
      <div class="col-lg-12">
        <div class="heading-tabs">
          <div class="row">
            <div class="col-lg-8">
              <ul>
                <li><a href="javascript:void(0)" (click)="setActiveTab('tabs-1')">Madison Square Garden</a></li>
                <li><a href="javascript:void(0)" (click)="setActiveTab('tabs-2')">Radio City Musical Hall</a></li>
                <li><a href="javascript:void(0)" (click)="setActiveTab('tabs-3')">Royce Hall</a></li>
              </ul>
            </div>
            <div class="col-lg-4">
              <div class="main-dark-button">
                <a routerLink="/ticket-details">Purchase Tickets</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <section class="tabs-content">
          <!-- Tab 1 -->
          <article id="tabs-1" *ngIf="activeTab === 'tabs-1'">
            <div class="row">
              <div class="col-lg-9">
                <div class="right-content">
                  <h4>Madison Square Garden</h4>
                  <p>ArtXibition Event Template is brought to you by Tooplate website and it included total 7 HTML pages.
                    These are <a routerLink="/">Homepage</a>, <a routerLink="/about">About</a>,
                    <a routerLink="/rent-venue">Rent a venue</a>, <a routerLink="/shows-events">Shows &amp; Events</a>,
                    <a routerLink="/event-details">Event Details</a>, <a routerLink="/tickets">Tickets</a>, and <a routerLink="/ticket-details">Ticket Details</a>.
                  </p>
                  <ul class="list">
                    <li>Madison Square Garden</li>
                    <li>$2,840 per day</li>
                    <li>860 Guests</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3">
                <div id="map">
                  <iframe src="https://www.google.com/maps/embed?pb=..." width="100%" height="240px" frameborder="0" style="border:0" allowfullscreen="" loading="lazy"></iframe>
                  <h5>Any Question?</h5>
                  <p>Tumeric air affogato sare torial waistcoat denim stumber.</p>
                  <div class="text-button">
                    <a routerLink="/ticket-details">Need Direction? <i class="fa fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <!-- Tab 2 -->
          <article id="tabs-2" *ngIf="activeTab === 'tabs-2'">
            <div class="row">
              <div class="col-lg-9">
                <div class="right-content">
                  <h4>Radio City Musical Hall</h4>
                  <p>Aliquam tempor, purus vitae ullamcorper rhoncus, quam nunc imperdiet sem, sed placerat purus dui in lorem. Donec ornare at risus in varius.</p>
                  <ul class="list">
                    <li>Radio City Musical Hall</li>
                    <li>$4,750 per day</li>
                    <li>1,100 Guests</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3">
                <div id="map">
                  <iframe src="https://www.google.com/maps/embed?pb=..." width="100%" height="240px" frameborder="0" style="border:0" allowfullscreen="" loading="lazy"></iframe>
                  <h5>Any Question?</h5>
                  <p>Tumeric air affogato sare torial waistcoat denim stumber.</p>
                  <div class="text-button">
                    <a routerLink="/ticket-details">Need Direction? <i class="fa fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </article>

          <!-- Tab 3 -->
          <article id="tabs-3" *ngIf="activeTab === 'tabs-3'">
            <div class="row">
              <div class="col-lg-9">
                <div class="right-content">
                  <h4>Royce Hall</h4>
                  <p>Maecenas ut pharetra felis. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                  <ul class="list">
                    <li>Royce Hall</li>
                    <li>$5,860 per day</li>
                    <li>1,250 Guests</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3">
                <div id="map">
                  <iframe src="https://www.google.com/maps/embed?pb=..." width="100%" height="240px" frameborder="0" style="border:0" allowfullscreen="" loading="lazy"></iframe>
                  <h5>Any Question?</h5>
                  <p>Tumeric air affogato sare torial waistcoat denim stumber.</p>
                  <div class="text-button">
                    <a routerLink="/ticket-details">Need Direction? <i class="fa fa-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="rent-venue-application">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="heading-text">
          <h4>Reservation Application</h4>
        </div>
        <div class="contact-form">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <fieldset>
                  <input name="name" type="text" id="name" placeholder="Your Name*" required="">
                </fieldset>
              </div>
              <div class="col-md-6 col-sm-12">
                <fieldset>
                  <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email*" required="">
                </fieldset>
              </div>
              <div class="col-md-6 col-sm-12">
                <fieldset>
                  <input name="phone-number" type="text" id="phone-number" placeholder="Phone Number*" required="">
                </fieldset>
              </div>
              <div class="col-md-6 col-sm-12">
                <fieldset>
                  <input name="company-organization" type="text" id="company-organization" placeholder="Company / Organization*" required="">
                </fieldset>
              </div>
              <div class="col-md-6 col-sm-12">
                <fieldset>
                  <input name="venue-requested" type="text" id="venue-requested" placeholder="Venue Requested*" required="">
                </fieldset>
              </div>
              <div class="col-md-6 col-sm-12">
                <fieldset>
                  <input name="type-event" type="text" id="type-event" placeholder="Type Of Event*" required="">
                </fieldset>
              </div>
              <div class="col-md-6 col-sm-12">
                <fieldset>
                  <input name="date-requested-first" type="text" id="date-requested-first" placeholder="Date Requested (Primary Date)*" required="">
                </fieldset>
              </div>
              <div class="col-md-6 col-sm-12">
                <fieldset>
                  <input name="date-requested-second" type="text" id="date-requested-second" placeholder="Date Requested (Secondary Date)*" required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <textarea name="about-event-hosting" rows="6" id="about-event-hosting" placeholder="About The Event You Are Hosting" required=""></textarea>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="main-dark-button">Submit Request</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Subscribe Section -->
<div class="subscribe">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h4>Subscribe Our Newsletter:</h4>
      </div>
      <div class="col-lg-8">
        <form id="subscribe" action="" method="get">
          <div class="row">
            <div class="col-lg-9">
              <fieldset>
                <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email Address" required="">
              </fieldset>
            </div>
            <div class="col-lg-3">
              <fieldset>
                <button type="submit" id="form-submit" class="main-dark-button">Submit</button>
              </fieldset>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
