.dashboard-container {
  margin: 20px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.empty-state {
  text-align: center;
  margin-top: 20px;
}

.empty-state img {
  max-width: 200px;
}

.empty-state p {
  margin: 20px 0;
}


