<mat-sidenav-container class="drawer-container">
  <!-- Drawer -->
  <mat-sidenav #drawer mode="side" class="sidenav" opened>
    <div class="drawer-content">
      <!-- Logo -->
      <h1 class="logo">Tun<a style="color: black">event</a></h1>

      <!-- Reviews Section -->
      <div class="review">
        <!-- Capterra -->
        <div class="review-item">

          <div class="review-details">
            <h3>MeetingEvent</h3>
            <div class="stars">
              ★ ★ ★ ★ ☆
            </div>
            <p>4.9/5 (745 reviews)</p>
          </div>
        </div>

        <!-- G2 Crowd -->
        <div class="review-item">

          <div class="review-details">
            <h3>G2 CROWD</h3>
            <div class="stars">
              ★ ★ ★ ★ ☆
            </div>
            <p>4.9/5 (156 reviews)</p>
          </div>
        </div>

        <!-- Trustpilot -->
        <div class="review-item">

          <div class="review-details">
            <h3>Trustpilot</h3>
            <div class="stars">
              ★ ★ ★ ★ ☆
            </div>
            <p>4.8/5 (766 reviews)</p>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <!-- Main Content -->
  <mat-sidenav-content >
    <app-login></app-login>
    <app-footer ></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>





